:root {
  --bg: #0d1117;
  --bg2: #161b22;
  --bg3: #1c2128;

  --border: #30363d;
  --border2: #3d444d;

  --text: #e6edf3;
  --muted: #7d8590;
  --dim: #3d444d;

  // Java theme
  --java-keyword: #cc7832;
  --java-annotation: #bbb529;
  --java-string: #6a8759;
  --java-type: #ffc66d;
  --java-comment: #629755;
  --java-number: #6897bb;
  --java-tag: #e8bf6a;

  --accent: #4d9cf5;
}