<div class="project">

  <!-- 🔗 Lien GitHub -->
  <!-- <a
    *ngIf="project.github"
    [href]="project.github"
    target="_blank"
    class="proj-link">
    GitHub →
  </a> -->

  <!-- 🏷️ Nom du projet -->
  <div class="proj-name">
    {{ project.name }}
  </div>

  <!-- 📄 Description -->
  <div class="proj-desc">
    {{ project.description }}
  </div>

  <!-- 🏷️ Tags -->
  <div class="proj-tags">
    <span
      *ngFor="let tag of project.tags"
      class="ptag"
      [ngClass]="tag.type">

      {{ tag.label }}

    </span>
  </div>

</div>